#stPyVista{
    border: solid 2px rgb(217, 255, 0);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#stPyVistaFrame{
    border: solid 2px rgb(98, 0, 255);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}